<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDrufgcj-nuDSFKcSF-dfib_2DmDtTgn2g</string>
	<key>GCM_SENDER_ID</key>
	<string>181909524436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spatialcompany.soberly</string>
	<key>PROJECT_ID</key>
	<string>soberly-dc4d6</string>
	<key>STORAGE_BUCKET</key>
	<string>soberly-dc4d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:181909524436:ios:fb4c35d371f618d3455041</string>
</dict>
</plist>